html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: 'Commissioner', sans-serif;

    &.noscroll {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

p {
    color: $darkgray;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.container {
    max-width: 87%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 0.5rem;
    padding: 2.2rem 1.5rem 1.75rem;
    box-shadow: 0px 0 1px #666565;
    
    @include breakpoint-up(large){
        max-width: 42.75rem;
        padding: 1.85rem 2.8rem;
    }
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}