.header {
    z-index: 1;
    width: 100%;
    height: 24rem;
    background: linear-gradient(to bottom, #00000075, transparent, transparent),
        url("../images/image-hero-mobile.jpg") no-repeat;
    background-size: 100%;

    @include breakpoint-up(large) {
        background: linear-gradient(to bottom, #00000075, transparent, transparent),
            url("../images/image-hero-desktop.jpg") no-repeat;
        background-size: 100%;

    }

    &.open {
        .header__toggle {
            >span:first-child {
                transform: rotate(45deg);
            }

            >span:nth-child(2) {
                opacity: 0;
            }

            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0;
        background-image: linear-gradient(#00000075, #00000030);
    }

    nav {
        display: flex;
        position: relative;
        align-items: center;
        padding: 2rem 1.5rem;
        justify-content: space-between;

        @include breakpoint-up(large) {
            padding: 2.8rem 9.75rem;
        }
    }

    &__logo {
        img {
            width: 7.875rem;

            @include breakpoint-up(large) {
                width: 7.5rem;
            }
        }
    }

    &__toggle {
        >span {
            width: 15px;
            height: 2px;
            display: block;
            background-color: white;
            transition: all 300ms ease-in-out;
            transform-origin: -1px 1px;

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }

    &__menu {
        left: 50%;
        position: absolute;
        background: white;
        border-radius: 0.5rem;
        width: calc(100% - 3rem);
        transform: translateX(-50%);
        display: block;

        @include breakpoint-up(large) {
            display: none;
        }

        a {
            color: $black;
            display: block;
            padding: 1.5rem;
            font-weight: 500;
            font-size: 1.125rem;

            &:not(:last-child) {
                border-bottom: 1px solid #e0e0e0;
            }
        }
    }

    &__links {
        a {
            color: white;
            font-size: 12.5px;
            transition: all 0.3s ease-in-out;

            &:hover {
                text-decoration: underline;
            }

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }
    }
}