.hero {
    height: 24rem;
    background: linear-gradient(to bottom, #00000075, transparent, transparent),
        url("../images/image-hero-mobile.jpg") no-repeat;
    background-size: 100%;

    @include breakpoint-up(large) {
        background: linear-gradient(to bottom, #00000075, transparent, transparent),
            url("../images/image-hero-desktop.jpg") no-repeat;
        background-size: 100%;

    }
}