.mastercraft {
    text-align: center;
    position: relative;
    margin-top: -7.75rem;

    @include breakpoint-up(large) {
        margin-top: -6rem;
    }

    &__img {
        position: absolute;
        top: -10%;
        left: 50%;
        transform: translateX(-50%);

        @include breakpoint-up(large) {
            top: -11%;
        }

        img {
            width: 100%;

            @include breakpoint-up(large) {
                width: 95%;
            }
        }
    }

    h1 {
        padding: 0 1rem;
        font-size: 1.375rem;
        margin-bottom: 1.125rem;

        @include breakpoint-up(large) {
            padding: 0;
            margin-bottom: 0;
            font-size: 26.5px;
        }
    }

    p {
        line-height: 1.75;
        font-size: 0.9375rem;

        @include breakpoint-up(large) {
            margin-top: 0.75rem;
        }
    }

    &__btns {
        display: flex;
        margin-top: 1.45rem;
        align-items: center;
        justify-content: space-between;

        @include breakpoint-up(large) {
            margin-top: 2.1rem;
        }

        .btn {
            font-weight: 700;
            letter-spacing: 0.5px;
            border-radius: 1.875rem;
            font-family: 'Commissioner', sans-serif;

            &:first-child {
                color: white;
                font-size: 1rem;
                padding: 1.25rem 3rem;
                background: $moderatecyan;

                @include breakpoint-up(large) {
                    font-size: 0.875rem;
                    padding: 1.125rem 2.375rem;
                }
            }

            &:nth-child(2) {
                color: #757575;
                font-size: 14.25px;
                position: relative;
                padding: 1.125rem 1.5rem 1.125rem 4.5rem;

                &::before {
                    content: url('../images/icon-bookmark.svg');
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }

        img {
            width: 3.75rem;
        }
    }
}